---
import { getEventByName } from '~/utils/event';
import { getFormattedDate } from '~/utils/utils';

const nextEvent = await getEventByName('next');
---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NUEVO</span
  >
  <a href={nextEvent?.url} class="text-muted hover:underline dark:text-slate-400 font-medium" target="_blank"
    >[{getFormattedDate(nextEvent?.date)}] {nextEvent?.title}</a
  >
</div>
