---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Image from '~/components/common/Image.astro';

const PereiraTechTalksLogo = '~/assets/images/logos/icon.webp';
const PereiraTechTalksLogoDark = '~/assets/images/logos/icon-black.webp';

const metadata = {
  title:
    'Pereira Tech Talks — Comunidad de desarrolladores e investigadores inquietos y apasionados por compartir y aprender sobre diversos temas de desarrollo e innovación tecnológica.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero background="index-background" bannerBackground="index-background-light dark:index-background-dark">
    <Fragment slot="title" class="text-center">
      <div class="my-4">
        <Image src={PereiraTechTalksLogo} alt="Pereira Tech Talks" width={150} class="mx-auto hidden dark:block" />
        <Image src={PereiraTechTalksLogoDark} alt="Pereira Tech Talks" width={150} class="mx-auto dark:hidden" />
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      Comunidad de desarrolladores e investigadores inquietos y apasionados por compartir y aprender sobre diversos
      temas de desarrollo e innovación tecnológica.
    </Fragment>
  </Hero>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="" information="" />
</Layout>
