---
import Layout from '~/layouts/PageLayout.astro';
import EventList from '~/components/events/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Button from '~/components/ui/Button.astro';
import { findPostsByCategory } from '~/utils/blog';

export const prerender = true;

const metadata = {
  title: `Eventos`,
  openGraph: {
    type: 'blog',
  },
};

const allEvents = await findPostsByCategory(['eventos'], 5);

console.log(allEvents, allEvents.length);
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="Descubre nuestros próximos eventos, talleres y reuniones, y revive momentos destacados de eventos. Únete a nuestra comunidad para inspirarte y conectar con otros entusiastas de la tecnología."
    >
      Eventos
    </Headline>
    <EventList events={allEvents} />

    <div class="flex justify-center">
      <Button
        href="https://www.meetup.com/es-ES/pereira-tech-talks/events/"
        target="_blank"
        variant="secondary"
        class="mt-8"
      >
        Ver todos los eventos
      </Button>
    </div>
  </section>
</Layout>
