---
import Image from '~/components/common/Image.astro';

const PereiraTechTalksLogo = '~/assets/images/logos/topbar-logo.webp';
const PereiraTechTalksLogoDark = '~/assets/images/logos/topbar-logo-black.webp';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={PereiraTechTalksLogo} alt="Pereira Tech Talks" width={100} class="mx-auto hidden dark:block" />
  <Image src={PereiraTechTalksLogoDark} alt="Pereira Tech Talks" width={100} class="mx-auto dark:hidden" />
</span>
