.index-background {
  background-image: url(../images/index-bg.jpg);
  background-size: cover;
}

.index-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
