.index-background {
  background-image: url(~/assets/images/index-bg.jpg);
  background-size: cover;
}

.speakers-school-background {
  background-image: url(~/assets/images/school/bg-speakers-school.png);
  background-size: cover;
}
