---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { eventsHeaderData, footerData } from '~/navigation';

import type { MetaData } from '~/types';
export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header
      {...eventsHeaderData}
      actions={[
        {
          text: 'Incribirse',
          href: 'https://docs.google.com/forms/d/e/1FAIpQLSePyRbPPeBb2GozlgGaB0jf_LzG5S-iAZlQbPcLlV1xkOlt-g/viewform?usp=sf_link',
        },
      ]}
      showToggleTheme
      position="right"
      isSticky
    />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
