---
import Announcement from "~/components/widgets/Announcement.astro";
import Footer from "~/components/widgets/Footer.astro";
import Header from "~/components/widgets/Header.astro";
import Layout from "~/layouts/Layout.astro";

import { footerData, headerData } from "~/navigation";

import type { MetaData } from "~/types";
export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
const newEventData = {
  id: "luma-migration-notification",
  name: "Migración a Luma - Pereira Tech Talks",
  link: "https://luma.com/pertechtalks",
  venue: { name: "Eventos ahora en Luma" },
  description:
    "Hemos migrado nuestros eventos de Meetup a Luma. Visita https://luma.com/pertechtalks para ver todos nuestros próximos eventos y talleres.",
  time: 1760418963319,
  featured_photo: null,
};
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement event={newEventData} />
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
